<h1>create blog</h1>

<!-- blog -->
<ul>
  <!-- blog登録 -->
  <div>blog.name: <input [(ngModel)]="blog.name"></div>
  <p><button (click)="createBlog()">create</button></p>

  <!-- blog取得 -->
  <div *ngFor="let b of blogList" style="font-size: small; color: #ccc">
    <div>{{ b.name }} : {{ b.id }}</div>
  </div>
</ul>

<!-- post -->
<h2>create post</h2>
<ng-template #noblog>
  <ul>nothing..</ul>
</ng-template>
<ul *ngIf="blogList.length else noblog">
  <!-- post登録 -->
  <div>post.title: <input [(ngModel)]="post.title"></div>
  <div>post.blogID:
    <select [(ngModel)]="post.blogID">
      <option *ngFor="let b of blogList" [value]="b.id">
        {{ b.name }} : {{ b.id }}
      </option>
    </select>
  </div>
  <p><button (click)="createPost()">create</button></p>

  <!-- post取得 -->
  <div *ngFor="let p of postList" style="font-size: small; color: #ccc">
    <div>{{ p.title }} : {{ p.id }}</div>
  </div>
</ul>

<!-- comment -->
<h3>create comment</h3>
<ng-template #nopost>
  <ul>nothing..</ul>
</ng-template>
<ul *ngIf="postList.length else nopost">
  <!-- comment登録 -->
  <div>comment.content: <input [(ngModel)]="comment.content"></div>
  <div>comment.postID:
    <select [(ngModel)]="comment.postID">
      <option *ngFor="let p of postList" [value]="p.id">
        {{ p.title }} : {{ p.id }}
      </option>
    </select>
  </div>
  <p><button (click)="createComment()">create</button></p>

    <!-- comment取得 -->
    <div *ngFor="let c of commentList" style="font-size: small; color: #ccc">
      <div>{{ c.content }} : {{ c.id }}</div>
    </div>
</ul>
